@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

/* --------------------------------------
   1. BASE STYLES & LAYOUT
-------------------------------------- */
:root {
  /* Define color variables for easy modification */
  --color-primary: #af52de;
  --color-purple: #a855f7;
  --color-green: #2a9d90;
  --color-teal: #14b8a6;
  --blue-50: #f1f7ff;
  --green-50: #e6f2ee;
  --teal-50: #e9fffd;
  --red-50: #fce9ea;
  --color-cyan: #32ade6;
  --color-red: #e44b59;
  --color-yellow: #e8b006;
  --color-sidebar-bg: #ffffff;
  --color-main-bg: #fff;
  --color-text-dark: #181d27;
  --color-grey: #414040;
  --text-neutral: #262626;
  --white: #fff;
  --color-text-medium: #6b7280;
  --sidebar-foreground: #334155;
  --muted-foreground: #64748b;
  --muted: #f1f5f9;
  --radius: 0.5rem;
  --border: #e2e8f0;
  --card: #fff;
  --sidebar-border: #e2e8f0;
  --background-default: #fff;
  --background-grey: #f5f6fa;
}

.container {
  height: 100vh;
  display: flex;
}

/* --------------------------------------
   2. SIDEBAR NAVIGATION
-------------------------------------- */
.sidebar {
  display: flex;
  width: 240px;
  height: 100vh;
  padding: 0 0.25rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  border-right: var(--sidebar-border) 2px solid;
  position: fixed;
  background-color: var(--background-default);
  color: var(--color-text-dark);
  overflow-y: auto;
  z-index: 9999;
}

.logo {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1rem 1rem 1rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  color: var(--color-green);
}

.logo p {
  font-size: clamp(1rem, 1vw + 0.1rem, 1.5rem);
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-primary);
}

.icon-cont {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--color-primary);
  color: var(--white);
  border-radius: 0.325rem;
}

.logo-icon {
  font-size: clamp(0.875rem, 1vw + 0.1rem, 1rem);
  stroke-width: 2px;
  stroke: var(--white);
}

.side-navs {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  flex-grow: 1;
  margin-bottom: 3rem;
}

.section {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.group-title {
  width: 100%;
  padding: 0.375rem 0.5rem;
}

.group-title h3 {
  font-size: 0.75rem; /* text-xs */
  font-weight: 500; /* font-medium */
  color: var(--sidebar-foreground);
  text-align: left;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0.25rem;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  column-gap: 0.5rem;
  padding: 0.375rem 0.5rem; /* p-3 */
  border-radius: 0.5rem; /* rounded-lg */
  color: var(--sidebar-foreground); /* text-gray-700 */
  transition: background-color 0.2s;
}

.nav-link.active {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  column-gap: 0.5rem;
  padding: 0.375rem 0.5rem; /* p-3 */
  border-radius: 0.5rem; /* rounded-lg */
  background-color: var(--color-primary);
  color: var(--white);
  transition: background-color 0.2s;
}

.nav-link.active a {
  color: var(--white);
}

.nav-icon.active {
  stroke: var(--white);
}

.nav-link:hover {
  background-color: var(--background-grey);
}

.nav-link:active {
  background-color: var(--color-primary);
}

.nav-link a {
  text-decoration: none;
  font-size: clamp(0.875rem, 1vw + 0.1rem, 1rem);
  line-height: 1.5;
  color: var(--sidebar-foreground);
  align-self: stretch;
  flex: 1;
}

.nav-link a:active {
  text-decoration: none;
  font-size: clamp(0.875rem, 1vw + 0.1rem, 1rem);
  line-height: 1.5;
  color: var(--white);
  align-self: stretch;
  flex: 1;
}

.nav-icon,
.card-icon {
  stroke: var(--sidebar-foreground);
  width: 1rem;
  height: 1rem;
}

.nav-icon.active:active {
  stroke: var(--white);
  width: 1rem;
  height: 1rem;
}

/* Main */
.main {
  margin-left: 240px; /* Width of the sidebar */
  padding: 2rem;
  flex-grow: 1;
  background-color: var(--color-main-bg);
  min-height: 100vh;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.user-avatar {
  width: 2rem; /* w-8 */
  height: 2rem; /* h-8 */
  border-radius: 50%;
  background-color: var(--color-primary); /* bg-blue-100 */
  color: var(--background-default);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem; /* text-sm */
  font-weight: 500;
}

.content-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  row-gap: 0.55rem;
}

.heading-left h2 {
  font-size: clamp(1.5rem, 2vw + 0.4rem, 2.25rem);
  line-height: 1.25;
  font-weight: 700;
  color: var(--text-neutral);
}

.view {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

.view-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  color: var(--muted-foreground);
}

.view-toggle:hover {
  padding: 0.5rem 0.5rem;
  background-color: var(--muted);
  border-radius: var(--radius);
  color: var(--muted-foreground);
  cursor: pointer;
}

.view-toggle.active {
  padding: 0.5rem 0.5rem;
  background-color: var(--muted);
  border-radius: var(--radius);
  color: var(--text-neutral);
  font-size: clamp(0.875rem, 1vw + 0.1rem, 1rem);
  font-weight: 600;
}

.view-toggle h4 {
  font-size: clamp(0.875rem, 1vw + 0.2rem, 1.5rem);
  line-height: 1.5;
  font-weight: 500;
}

.header-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.icon-action {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 1.5px;
  stroke: var(--color-grey);
}

.btn-primary {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--white);
  border: none;
  border-radius: var(--radius);
  font-size: clamp(0.875rem, 1vw + 0.1rem, 1rem);
  line-height: 1.4;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}
